/* Conteiner*/

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  width: 1280px;
}

/*my container style*/

.intro {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  width: 1200px;
  margin: 0 auto;
}
/* box-me */
.intro-me {
  padding: 105px 90px;
}
/* intro-me */

.title-2-me {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.title-1-me {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
.intro-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
/* intro-project */
.intro-project {
  margin: 0;
  padding-top: 25px;
  width: 485px;
}
.title-project,
.title-work,
.title-education {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.list-project {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin-left: 15px;
}
.list-marck {
  padding: 0 0 0 20px;
}
.list-link,
.list-link-splash {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  transition: color 0.3s liner;
}
.list-link-splash:hover {
  color: rgb(0, 0, 0);
}
.list {
  padding-left: 15px;
}
.list,
.list-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* work */
.work {
  margin: 0;
  padding-top: 35px;
}
.intro-work,
.intro-education {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.date-work,
.date-education {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.line-date {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.list-work {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0px;
  margin-left: 15px;
}
/* education */
.education {
  margin: 0;
  padding: 0px;
}
/*sidebar style*/
.sidebar {
  margin: 10px;
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
/* foto */
.foto {
  margin-bottom: 50px;
}
.contact,
.skills,
.soft-skills {
  margin-left: 40px;
}
/* title-contact */
.title-contact,
.title-skills,
.title-soft {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}
/* splash-contact */
.splash-contact {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  opacity: 50%;
  transition: color 0.3s liner;
}
.splash-contact:hover {
  color: rgb(255, 255, 255);
  opacity: 100%;
}
.skills {
  margin-top: 50px;
}
/* list-skills */
.list-skills,
.list-title-soft {
  color: #fb6d3a;
}
.soft-skills {
  margin-top: 50px;
}
/* text-list-skills */
.text-list-skills,
.text-list-soft {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
